[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aiohttp = "*"
go-json = ">=0.3.7.post3"

[dev-packages]
pylint = "*"
flake8 = "*"
mypy = "*"
black = "*"
isort = "*"

[requires]
python_version = "3.10"
